@*
/*
* John Moreau
* CSS233
* 11/29/2023
*/
*@
@{
    var game = Context.Session.GetObject<PigGame>("game");
}

<div class="container">
    <div class="row mt-4">
        <ul class="list-group col-7">
            <li class="list-group-item d-flex justify-content-between"> <!-- SOURCE: https://getbootstrap.com/docs/5.3/utilities/flex/#enable-flex-behaviors -->
                <div class="">
                    Player 1: @game?.Player1Score;
                    <br /> <br />
                    Player 2: @game?.Player2Score
                </div>
                <div class="">
                    <button class="btn bg-light btn-outline-secondary text-dark">New Game</button>
                </div>
            </li>
            <li class="list-group-item">
                <div class="">
                    <p><strong>Player 1's turn</strong></p>
                </div>
                <div class="row">
                    <div class="d-flex col-5">
                        <div class="ml">
                            <button class="btn bg-secondary text-light">Roll</button>
                            <button class="btn bg-light btn-outline-secondary m-1">Hold</button>
                        </div>
                    </div>
                    <div class="d-flex col-7 row">
                        <div class="col-6">
                            Die:
                        </div>
                        <div class="col-6">
                            Total:
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <ul class="list-group col-5">
            <li class="list-group-item">First player to 20 wins.</li>
            <li class="list-group-item">Players take turns rolling the dice.</li>
            <li class="list-group-item">Turn ends when player rolls a 1 or chooses to hold.</li>
            <li class="list-group-item">If player rolls a 1, they lose all points earned during that turn.</li>
            <li class="list-group-item">If a player holds, points earned during that turn are added to their total.</li>
        </ul>
    </div>
</div>
